  
/* NavBar */

  .nav{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(25, 25, 25);
    height: 100px;
    transition: height 0.3s ease;
    border-bottom: 3px solid #a494ff;
  }

  .scroll{
    height: 75px;
  }
  
  .nav-container{
    height: 100%;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-nav{
    display: flex;
    align-items: center;
    color: #333;
    margin-right: 0;
  }

  .links {
    /* border: 1px solid lime; */
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin: 0;
  }

  .navLink{
    color: rgb(204, 172, 235);
    margin: 0 1em;
    padding: 0.5em 1em;
  }
  .navLink:hover {
    color: rgb(177, 121, 233);
    cursor: pointer;
  }


/* Splash */

  .main{
    padding-top: 110px;
    height: 100vh;
    width: 100%;
    background-image: url("../images/pensive.jpg");
    background-size: cover;
    margin-bottom: 3em;
    border-bottom: 5px outset #a494ff;
  }
  
  #intro{
    max-width: 40vw;
    margin: 4em 0em 0em 6em; /*2003*/
  }


  .intro_greeting{
    font-size: 4vw;
    padding: 0.5em 0em;
  }


  /* Projects */

  .section{
      width: auto;
      /* top, horiz, bottom */
      margin: 0em 2em 3em;
  }

  .header{
    color: white;
    margin-bottom: 1.2em;
  }

  .header::after{
    content: "";
    display: block;
    height: 3px;
    width: 250px;
    background-color: #a494ff;
    position: inherit;
    margin-top: 4px;
  }

  .section-content{
    margin: 0 4% ;
    color:white;
    border-radius: 1em;
    margin-bottom: 3em;
  }

  .card-deck{
    margin: 0 4% 3em;
  }

  .card{
    position: inherit;
  }
  
  /* .projectGrid {
    /* Center all cards */
    /* text-align: auto; 
    padding: 4px 4% 2rem 4%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  .projectGrid:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 600px) {
    .projectGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    .projectGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .projectGrid-title {
    font-size: 1.75rem;
    font-weight: bold;
  } */


  /* Contact */

  #contact{
    margin-bottom: 3em;
    display: flex;
    /* if span lines */
    /* justify-content: space-between; */
    justify-content: center;

  }
  
  .contact-line{
    content: "";
    display: block;
    height: 2px;
    width: 500px;
    background-color: #FFFFFF;
    position: relative;
    top: 38px;
  }
  
  .logo-container{
    margin-top: -10em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c9d1da;
    border-radius: 2em;
    height: 222px;
  }

  .linkedin-cover:hover ~ .linkedin{
    fill: rgb(7, 71, 166);
  }
  .linkedin:hover {
    fill: rgb(7, 71, 166);
  }


  .github-cover:hover ~ .github {
    fill: purple;
  }
  .github:hover {
    fill: purple;
  }
  
  .email-cover:hover ~ .email {
    fill: rgb(224, 76, 64);
  }
  .email:hover {
    fill: rgb(224, 76, 64);
  }

