/* Projects */

.card-deck{
  margin: 0 4% 3em;
}

.card{
  position: inherit;
}

/* .projectGrid {
  /* Center all cards */
  /* text-align: auto; 
  padding: 4px 4% 2rem 4%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.projectGrid:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 600px) {
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .projectGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.projectGrid-title {
  font-size: 1.75rem;
  font-weight: bold;
} */
