html{
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

h1{
  font-weight: 700;
}
h2{
  font-size: 3vmin;
}
h3{
  font-size: 2vw;
}

.App{
  display: flex;
  flex-flow: column;
  background: rgb(40, 40, 40);
}

#app-content{
  margin: 0em 3em 0em;

}